<link rel="stylesheet" href ="{{ asset('assets/css/navbar.css')}}"/>

<header class="navbar">
    <div class="home-navbar__wrapper">
      <div class="logo title">Crypto Tracker</div>
      <nav>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="delete"><i class="fa-solid fa-pen fa-lg"></i></a></li>
          <li class="nav__item"><a href="add"><i class="fa-solid fa-plus fa-lg"></i></a></li>
        </ul>
      </nav>
    </div>
</header>