<link rel="stylesheet" href ="{{ asset('assets/css/navbar.css')}}"/>

<header class="navbar">
    <div class="page-navbar__wrapper">
      <a class="close-icon" href="/"><i class="fa-solid fa-xmark fa-xl"></i></a>
      <div class="title page-title">{{title}}</div>
    </div>
</header>